@mixin heading-default {
  @include webfont($f-secondary);
  @include font-smoothing(on);
  position: relative;
  margin: rem-scale(3) 0 rem-scale(0);
  color: $c-grey-d2;
  font-weight: bold;
  line-height: 1.3;
  a {
    text-decoration: none;
  }
}

@mixin h1 {
  @include heading-default;
  font-size: rem-scale(3);
  @include breakpoint($bp-med) {
    font-size: rem-scale(4);
  }
}

@mixin h2 {
  @include heading-default;
  font-size: rem-scale(2);
  @include breakpoint($bp-med) {
    font-size: rem-scale(3);
  }
}

@mixin h3 {
  @include heading-default;
  font-size: rem-scale(1);
  @include breakpoint($bp-med) {
    font-size: rem-scale(2);
  }
}

@mixin h4 {
  @include heading-default;
  font-size: rem-scale(1);
}
