// Borders
// -----------------------------------------------------------------------------

$default-border-radius: 3px;
$default-border-width: 1px;
$default-border-style: solid;
$default-border: $default-border-width $default-border-style $default-border-color;
